<a href="https://colab.research.google.com/github/kenttw/kent-ai-learning-notebook/blob/master/Machine_Learning_Exercise/CreditCard/data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 酨入資料

In [ ]:
# 如果有使用 coloab 再執行此 cell
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [ ]:
f1id = '1SvJ_IiHr-ndJDG_sBf6NCn0lMKUxPIlf'
f2id = '1lZPv46zul32Xbr1qHES66YRzMa-A7MzB'


!pip3 install gdown
import gdown
url = 'https://drive.google.com/uc?id=%s'%(f1id)
output = 'train.csv'
gdown.download(url, output, quiet=False)
url = 'https://drive.google.com/uc?id=%s'%(f2id)
output = 'test.csv'
gdown.download(url, output, quiet=False)

Requirement already satisfied: gdown in /usr/local/lib/python3.7/dist-packages (3.6.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from gdown) (4.41.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gdown) (2.23.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from gdown) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gdown) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gdown) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->gdown) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gdown) (1.24.3)

Downloading...
From: https://drive.google.com/uc?id=1SvJ_IiHr-ndJDG_sBf6NCn0lMKUxPIlf
To: /content/train.csv
132MB [00:02, 57.3MB/s]
Downloading...
From: https://drive.google.com/uc?id=1lZPv46zul32Xbr1qHES66YRzMa-A7MzB
To: /content/test.csv
36.2MB [00:00, 81.3MB/s]

'test.csv'

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
! mkdir data model submit

# Load Data and Overview

In [ ]:
df = pd.read_csv('train.csv').set_index('txkey')
df.shape

(1521787, 22)

In [ ]:
y_train = df['fraud_ind']
del df['fraud_ind']

In [ ]:
# testing data 的要放進來，這樣 labeling encoding 才不會漏掉
df_test = pd.read_csv('test.csv').set_index('txkey')
df_test.shape

(421665, 21)

In [ ]:
df_test.head(2)

        acqic   bacno    cano  conam  contp  ...  mchno ovrlt  scity stocn stscd
txkey                                        ...
592489   6881  163188  116799  513.8      5  ...  59360     N      0   102     0
592452   6881  163188  116799  513.8      5  ...  59360     N      0   102     0

[2 rows x 21 columns]

In [ ]:
df = pd.concat((df, df_test), 0)
df.shape

(1943452, 21)

In [ ]:
df.keys()

Index(['acqic', 'bacno', 'cano', 'conam', 'contp', 'csmcu', 'ecfg', 'etymd',
       'flbmk', 'flg_3dsmk', 'hcefg', 'insfg', 'iterm', 'locdt', 'loctm',
       'mcc', 'mchno', 'ovrlt', 'scity', 'stocn', 'stscd'],
      dtype='object')

In [ ]:
# 欄位類別判定
col_names_cont = [] # 數值型資料
col_names_disc = [] # 類別型資料
col_has_na = [] # 待補NA資料
for c in df.keys():
    uni = df[c].unique()
    n_na = pd.isna(df[c]).sum() # NA 數量
    if n_na > 0:
        col_has_na.append(c)       
    if len(uni) < 200 :
        print(f"{c}: uni={uni}")
        col_names_disc.append(c)
    else:
        info = [ df[c].max(), df[c].min(), df[c].mean(), df[c].std()]
        info = [ round(x,2) for x in info ]
        offset = 1 if n_na else 0
        diversity = (len(uni)-offset)/(len(df)-n_na)
        print(f"{c}: dtype={df[c].dtype}, n_na={n_na}")
        print("       max={}, min={}, mean={}, std={}, diversity={:.2f}%".format(*info, diversity*100 ) )
        if diversity == 1.0:
            print(f"       Delete col [{c}] due to diversity is 100% ")
        else:
            col_names_cont.append(c)

acqic: dtype=int64, n_na=0
       max=6884, min=0, mean=6008.0, std=1502.42, diversity=0.40%
bacno: dtype=int64, n_na=0
       max=163884, min=1, mean=82090.27, std=47362.49, diversity=6.26%
cano: dtype=int64, n_na=0
       max=213334, min=0, mean=108917.04, std=60903.63, diversity=8.50%
conam: dtype=float64, n_na=0
       max=7208.77, min=0.0, mean=654.72, std=402.81, diversity=4.79%
contp: uni=[5 3 6 2 4 0 1]
csmcu: uni=[ 0 62 74 61 13 67 60 26 49 10 71 56 20 38 22  4 47 54 75 32 66 29 28 14
 50 30 31 45 24 40 35 59  3 48 63 52 41 23 17 16 73 51 53 44 18 12 15  5
 70 21 39 27 42 11 72  6 25  7 43  2 19 37  1 64 57 36 68 55  9 46 34 69]
ecfg: uni=['N' 'Y']
etymd: uni=[ 0  2  5  4  8  1  9  6  3  7 10]
flbmk: uni=['N' 'Y' nan]
flg_3dsmk: uni=['N' 'Y' nan]
hcefg: uni=[5 0 3 1 2 7 8 9 6]
insfg: uni=['N' 'Y']
iterm: uni=[0 1 2 8 3 4 7 6 5]
locdt: uni=[33  9  6  5  7 10  8 11 13 14 22 21 25 24 15 12 19 28 18 17 16 23 31 26
  2 30  4 20 27 29  1  3 34 66 32 67 70 69 65 35 39 43 38 45 48 54 50 68
 36 37 61 42 49 44 58 62 60 63 47 40 41 46 76 51 74 75 52 56 85 53 89 86
 73 55 57 59 79 78 72 71 64 80 81 84 77 82 87 88 83 90]
loctm: dtype=float64, n_na=0
       max=235959.0, min=0.0, mean=146315.21, std=52121.07, diversity=5.57%
mcc: dtype=int64, n_na=0
       max=459, min=0, mean=297.81, std=77.97, diversity=0.03%
mchno: dtype=int64, n_na=0
       max=103307, min=0, mean=55890.22, std=30822.97, diversity=5.87%
ovrlt: uni=['N' 'Y']
scity: dtype=int64, n_na=0
       max=6671, min=0, mean=4755.13, std=1979.81, diversity=0.37%
stocn: uni=[102  44  14  46  38  93 104  20  75  27  52  16  61  36  50   2  41  42
  78  49  10   6  98  17  87  32  81  86  73  92  85  89  55   1  53 101
  56  68  62  47   0  76  45  72  94  25  31   4  39  48 106  91  83  34
  95  40  26   5  43  90  54 107  67  30  28  69  70  22  60  57  37   8
  96  35  74  63  80  51   9 105  13  11  64  59  82  15  79  65  33  77
   3  84  99  19   7  29  24  18 100  97  71  12  88]
stscd: uni=[0 2 4 1 3]

- 看起來數值型資料都沒有缺失值(n_na==0)

In [ ]:
col_has_na

['flbmk', 'flg_3dsmk']

In [ ]:
# 處理缺失值
df = df.fillna("NA")

# Data Preprocessing

## 數值型

In [ ]:
df_cont = df[col_names_cont].copy()
df_cont.head()

         acqic   bacno    cano    conam     loctm  mcc  mchno  scity
txkey
516056    6881  113261   38038   513.80  172652.0  457  59333      0
4376         0  134508   45725   465.62  105114.0  451      0   5817
483434    6881   15408  188328   513.80  152458.0  457  59333      0
1407164   6716  157159   29967  1016.11  172946.0  247  50436   3281
1051004   5975  105985   81305   713.66  182129.0  263  93775   5817

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_cont = scaler.fit_transform(df_cont)
X_cont.shape, type(X_cont)

((1521787, 8), numpy.ndarray)

In [ ]:
df_cont = pd.DataFrame(data=X_cont, index=df.index, columns=col_names_cont)
df_cont.head()

            acqic     bacno      cano  ...       mcc     mchno     scity
txkey                                  ...
516056   0.581061  0.658131 -1.163791  ...  2.041755  0.111695 -2.401805
4376    -3.998885  1.106735 -1.037575  ...  1.964800 -1.813266  0.536349
483434   0.581061 -1.407913  1.303879  ...  2.041755  0.111695 -2.401805
1407164  0.471238  1.584983 -1.296311  ... -0.651666 -0.176953 -0.744579
1051004 -0.021966  0.504508 -0.453373  ... -0.446453  1.229109  0.536349

[5 rows x 8 columns]

In [ ]:
df_cont.describe()

              acqic         bacno  ...         mchno         scity
count  1.521787e+06  1.521787e+06  ...  1.521787e+06  1.521787e+06
mean  -6.344073e-15 -2.975369e-17  ... -6.876544e-15 -4.602563e-14
std    1.000000e+00  1.000000e+00  ...  1.000000e+00  1.000000e+00
min   -3.998885e+00 -1.733213e+00  ... -1.813266e+00 -2.401805e+00
25%   -1.730721e-02 -8.590612e-01  ... -7.175244e-01 -4.849587e-01
50%    4.712381e-01 -3.763900e-03  ...  1.125712e-01  5.363494e-01
75%    5.065145e-01  8.650040e-01  ...  7.562472e-01  5.363494e-01
max    5.830577e-01  1.726973e+00  ...  1.538359e+00  9.677031e-01

[8 rows x 8 columns]

## 類別型

In [ ]:
df_disc = df[col_names_disc].copy()
df_disc.head()

         contp  csmcu ecfg  etymd flbmk  ... iterm  locdt ovrlt  stocn  stscd
txkey                                    ...
516056       5      0    N      0     N  ...     0     33     N    102      0
4376         5      0    N      2     N  ...     0      9     N    102      0
483434       5      0    N      0     N  ...     0      6     N    102      0
1407164      5     62    N      5     N  ...     0      5     N    102      0
1051004      5     62    N      4     N  ...     0      6     N    102      0

[5 rows x 13 columns]

In [ ]:
df_disc.shape

(1521787, 13)

In [ ]:

from sklearn.preprocessing import LabelEncoder
les = {}
for c in col_names_disc:
    le = LabelEncoder()
    df_disc.loc[:,c] = le.fit_transform(df_disc.loc[:,c])
    les.update({c:le})
df_disc.head()

         contp  csmcu  ecfg  etymd  flbmk  ...  iterm  locdt  ovrlt  stocn  stscd
txkey                                      ...
516056       5      0     0      0      0  ...      0     32      0     98      0
4376         5      0     0      2      0  ...      0      8      0     98      0
483434       5      0     0      0      0  ...      0      5      0     98      0
1407164      5     59     0      5      0  ...      0      4      0     98      0
1051004      5     59     0      4      0  ...      0      5      0     98      0

[5 rows x 13 columns]

In [ ]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse=False)
X_disc = ohe.fit_transform(df_disc)
# cut_point = ohe.feature_indices_
# print("feature cut point: ", cut_point)
X_disc.shape, type(X_disc)

((1521787, 318), numpy.ndarray)

In [ ]:
new_col_names_disc = []
for c in col_names_disc: 
    le = les[c]
    new_col_names_disc += [ c+'_'+str(cl) for cl in le.classes_ ]
assert len(new_col_names_disc) == X_disc.shape[1]

In [ ]:
df_disc = pd.DataFrame(data=X_disc, index=df.index, columns=new_col_names_disc)
df_disc.head()

         contp_0  contp_1  contp_2  contp_3  ...  stscd_1  stscd_2  stscd_3  stscd_4
txkey                                        ...
516056       0.0      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
4376         0.0      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
483434       0.0      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
1407164      0.0      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
1051004      0.0      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0

[5 rows x 318 columns]

In [ ]:
df_disc.columns

Index(['contp_0', 'contp_1', 'contp_2', 'contp_3', 'contp_4', 'contp_5',
       'contp_6', 'csmcu_0', 'csmcu_1', 'csmcu_2',
       ...
       'stocn_102', 'stocn_104', 'stocn_105', 'stocn_106', 'stocn_107',
       'stscd_0', 'stscd_1', 'stscd_2', 'stscd_3', 'stscd_4'],
      dtype='object', length=318)

In [ ]:
df = pd.concat((df_cont, df_disc), 1)
df.shape

(1943452, 367)

In [ ]:
df.to_csv("./data/df_all.csv")

In [ ]:
y_train.to_csv("df_all_y.csv")

# 轉換 Testing 資料

In [ ]:
df_test

         acqic   bacno    cano   conam  contp  ...  mchno ovrlt  scity stocn stscd
txkey                                          ...
592489    6881  163188  116799  513.80      5  ...  59360     N      0   102     0
592452    6881  163188  116799  513.80      5  ...  59360     N      0   102     0
590212    6881  163188  116799  513.80      5  ...  59360     N      0   102     0
590209    6881  163188  116799  513.80      5  ...  59360     N      0   102     0
592488    6881  163188  116799  513.80      5  ...  59360     N      0   102     0
...        ...     ...     ...     ...    ...  ...    ...   ...    ...   ...   ...
1187507   5975  147326   79511  633.76      5  ...  87282     N   5817   102     0
1182598   6716   14305  136493  952.84      5  ...  48784     N   5859   102     0
898724    5975  156543  137963  713.42      5  ...  98326     N   5817   102     0
971467    6231  156543  137964  903.94      5  ...  17763     N   5817   102     0
101230    6769  131985   98699  760.09      5  ...  78019     N   3294   102     0

[421665 rows x 21 columns]